<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard/Main Page</title>
    <link rel="stylesheet" href="style.css">
   
</head>
<body>
    <header class="header">
        <h1 id="header-title">ParkYourAssignment</h1>
        <nav id="nav1">

            <ul>
                <li><a href="/reminders">Dashboard</a></li>
                <li><a href="/calendar">Calendar</a></li>
                <li><a href="/reminder/new">Create</a></li>
                <li><a href="#">Delete</a></li>
                <li><a href="#">Modify</a></li>
            </ul>
        </nav>

        <h1 id="dashboard">Dashboard</h1>
        <div id="clock">

            <iframe scrolling="no" frameborder="no" clocktype="html5" style="overflow:hidden;border:0;margin:0;padding:0;width:151px;height:50px;"src="https://www.clocklink.com/html5embed.php?clock=008&timezone=Canada_Vancouver&color=black&size=151&Title=&Message=&Target=&From=2024,1,1,0,0,0&Color=black"></iframe>

        </div>
    </header>

        <h2>URGENT Assignments</h2>

    <div id="urgent-assignments">
        <div>
            <p>Title</p>
            <p>Priority</p>
            <p>Due Date</p>
            <p>Description</p>
            <p>Status</p>
        </div>
        <div>
            <p>Title</p>
            <p>Priority</p>
            <p>Due Date</p>
            <p>Description</p>
            <p>Status</p>
        </div>
        <div>
            <p>Title</p>
            <p>Priority</p>
            <p>Due Date</p>
            <p>Description</p>
            <p>Status</p>
        </div>
    </div>

<div>

</div>
    <footer>
        <p>Contact us: info@example.com</p>
        <p>&copy; 2024 Dashboard Inc. All rights reserved.</p>
    </footer>

</body>
</html>

