<div class="container">
  <h1 class="page-header">Edit</h1>
  <form action=<%= "/reminder/update/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" name="title" class="form-control" id="titleInput" value="<%= reminderItem.title %>">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="typeInput" name="type">
        <option value="lab" <% if (reminderItem.type == "lab") { %> selected <% } %>>Lab</option>
        <option value="quiz" <% if (reminderItem.type == "quiz") { %> selected <% } %>>Quiz</option>
        <option value="project" <% if (reminderItem.type == "project") { %> selected <% } %>>Project</option>
      </select>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"><%= reminderItem.description %></textarea>
    </div>
    <div class="form-group">
      <label for="duedate">Due Date</label>
      <input type="date" class="form-control" id="duedate" placeholder="Due Date" name="duedate" value="<%= reminderItem.dueDate %>">
    <div class="form-group">
      <label for="completed">Completed</label>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == true) { %>
            <input type="radio" name="completed" id="true" value="true" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="true" value="true">
          <% } %>
          True
        </label>
      </div>
      <div class="radio">
        <label>
          <% if (reminderItem.completed == false) { %>
            <input type="radio" name="completed" id="false" value="false" checked="checked">
          <% } else { %>
            <input type="radio" name="completed" id="false" value="false">
          <% } %>
          False
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
