<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Customers</title>
    </head>

    <body>
        {% extends "base.html" %}

        {% block content %} 
        <h1>Customers</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Balance</th> 
                    <th>Orders</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers|sort(attribute='id') %}
                <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.balance }}</td>
                    <td><a href="{{ url_for('api_customers.customers') }}/{{ customer.id }}">Detail</a></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    </body>
</html>
